{% extends "base.html.twig" %}

{% block title %}Liste des épreuves{% endblock %}

{% block body %}


<h3>Liste des épreuves</h3>


{% for epreuve in epreuves %}
<br>Épreuve du {{ epreuve.date }}, lieu : {{ epreuve.lieu }}. {{ epreuve.id }}
<a href="http://logitud/index/epreuve/{{ epreuve.lieu }}/{{ epreuve.date }}/{{ epreuve.id }}">Voir épreuve</a>
<a href="http://logitud/index/epreuve/{{ epreuve.lieu }}/{{ epreuve.date }}/{{ epreuve.id }}/supprimerEpreuve">Supprimer épreuve</a>
{% endfor %}

<br>
<a href="http://logitud/index/epreuves/export">Exporter la table</a>
<br>
<a href="http://logitud/index/ajouterEpreuve">Nouvelle épreuve</a>
<br>
<a href="http://logitud/">Retour au menu</a>
{% endblock %}
